* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url(assets/background_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 16px;
  max-width: 100%;
  max-height: 100%;
}

main {
  padding: 24px;
}

#about p {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  padding-left: 12px;
}

h4 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  color: #291B1A;
  line-height: 150%;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

ul {
  padding-left: 40px;
}

ol {
  padding-left: 40px;
}